* { 
    font-size: 10px;
    padding: 1px;
    margin: 6px;
    box-sizing: border-box;
  }

.my_name_div {
    margin: 20px;
    background-color: #b4f0ff;
    border: rgb(14, 32, 83) solid 3px;
    border-radius: 10px;
}

body {
    background-color: rgb(170, 220, 255);
    padding: 0;
    margin: 50x;
    box-sizing: border-box;
    color: black;
    font-family: 'Gill Sans';
    font-size: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(14, 32, 83);
    font-size: 5.5rem;
}

h2 {
    text-align: left;
    font-size: 4.5rem;
    font-weight: bold;
    color: rgb(14, 32, 83);
}

h3 {
    margin: 5px;
    color: rgb(26, 52, 120);
    font-size: 3rem;
    font-style: italic;
}

p, a, li {
    font-size: 2rem;
}
a {
    color: rgb(35, 73, 117);
    font-weight: bold;
    font-style: italic;
}

.img_container {
        width: 40rem;
        height: 40rem;
        margin: 1rem auto;
        background-color: #000000;
        border: black solid 1rem;
        border-radius: 0.5rem;
    }